{% extends "dashboard/base.html" %}
{% load static %}


{% block nav2 %}
	   <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="waves-effect waves-dark" href="/accounts/profile"><i class="fa fa-dashboard"></i> 后台面板</a>
                    </li>
                    <li>
                        <a href="/accounts/profile/setting" class="waves-effect waves-dark"><i class="fa fa-gear"></i> 设置</a>
                    </li>
					<li>
                        <a href="/accounts/profile/orders" class="waves-effect waves-dark"><i class="fa fa-shopping-cart"></i> 订购记录</a>
                    </li>
                    <li>
                        <a href="/accounts/profile/feedback" class="active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 意见反馈</a>
                    </li>

                    <li>
                        <a href="/accounts/profile/notice" class="waves-effect waves-dark"><i class="fa fa-table"></i> 公告</a>
                    </li>
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->
{% endblock nav2 %}
{% block content %}
		  <div class="header"> 
                        <h1 class="page-header">
                           意见反馈
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">主页 </a></li>
					  <li><a href="#">意见反馈 </a></li>
					  <li class="active">详情 </li>
					</ol> 
									
		</div>
            <div id="page-inner"> 
				 
				
			<div class="row">

			  <div class="col-md-12">
	               <div class="card">
                            <div class="card-content">
                               <div class="alert alert-success">
                                   请反馈您的问题
								</div>



								<div class="alert alert-warning " style="text-align:right;">
									我们会在这里回复
								</div>
                                {% for q in questions %}
                                <small>
                                    {{ q.pub_date }}
                                </small>
                                <div class="alert alert-success">
                                   {{ q.question_text }}
								</div>

                                {% if q.answer_text %}
								<div class="alert alert-warning " style="text-align:right;">
									{{ q.answer_text }}
								</div>
                                {% endif %}
                                {% endfor %}

	                        </div>
                       <form action="" method="post">
                           {% csrf_token %}
                            <div class="card-action">
                                <div class="input-field">
                                    <input type="text" id="question" name="question" required >
                                    <label for="question">问题反馈</label>
                                </div>
                                <button type="submit" class="waves-effect waves-light btn">提交</button>
                            </div>

                       </form>
                    </div>
			</div>	




		  
            </div>
									



				<footer><p>All right reserved by: <a href="/">Mofadog</a></p></footer>
				</div>
             <!-- /. PAGE INNER  -->
{% endblock content %}