{% extends "pages/base.html" %}
{% block content %}
    <!-- Contact Section -->
    <br>
    <br>
    <section id="#register">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>付费套餐使用期间不可订购试用套餐哦</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->

                    <p>请在付费套餐过期后再订购</p>
                    <a href="https://shop129086466.taobao.com/" target="view_window">前往某宝咨询</a>
                    <a href="/">返回</a>


                </div>
            </div>
        </div>
    </section>
{% endblock content %}